<!DOCTYPE html>
<html ng-app="httpallApp">
	<head>
		<script src="../node_modules/angular/angular.js"></script>
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<script src="httpall.js"></script>
	</head>
	
	<body class="container" ng-controller="httpallController">
		<h1>Fruits</h1>
		
		<button class="btn btn-primary" ng-click="refresh()">Refresh</button>

		<ul>
			<li ng-repeat="fruit in fruits">
				{{fruit}}
				<button class="btn btn-link" ng-click="deleteFruit($index)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</li>
		</ul>
		<div>
			<input class="form-control" type="text" ng-model="newFruit" />
			<button ng-click="addFruit(newFruit)">Add</button>
		</div>
	</body>
</html>